/* Estilos generales */



/*header*/
header {
    background-color: #D4AF37;
}

/* Barra de navegacion */
.navbar {
    padding: 2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/* carrusel */
.carousel-inner {
  max-height: 880px;
}

/* Seccion Hero */
.nosotros {
  text-align: justify;
  line-height: 2em;
}

.hero-imagen-desarrollador {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.compromiso {
  background-color: #D4AF37;
  text-align: justify;
  line-height: 2em;
}

/* Seccion Opiniones */
/*.card-img-botom {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}*/
/* Adaptable Responsive */


